{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 farsi">
        {{ with .Params.Image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- /about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title farsi">{{ i18n "news" }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- teacher -->
      {{ range (where site.RegularPages "Type" "event")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 farsi">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}